* {
  all: unset; // Unsets everything so you can style everything from scratch
  font-size:large
}


// MODULES

.systray {
    padding-left: 10px;
    padding-right: 15px;
}

.metric_module scale trough highlight {
    all: unset;
    background-color: #D35D6E;
    color: #000000;
    border-radius: 10px;
}

.metric_module scale trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 5px;
    min-width: 40px;
    margin-left: 5px;
    margin-right: 10px;
}

.icon_module {
    margin-left: 5px;
    margin-right: 10px;
}



// BAR

.bar {
    background-color: transparent;
    color: #ffffff;
    margin: 3px;
}


.apps,
.music,
.sidestuff {
    background-color: #3a3a3a;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.5em;
}

.apps {
    button {
        &:hover {
            color: #D35D6E;
        }
    }
}

//.music {}

.sidestuff {
    button {
        &:hover {
            color: #D35D6E;
        }
    }

    slider {
        all: unset;
        color: #ffd5cd;
    }
}

.workspaces {
    button {
        &:hover {
            color: #D35D6E;
        }
    }
}


// BACKGROUND

.power_buttons_box {
    padding: 1em;
    button {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
        border-radius: 1em;
        background-color: #3a3a3a;

        &:hover {
            color: #D35D6E;
            //background-color: #71c3f6;
        }

        &:first-child {
            color: #D35D6E;
            &:hover {
                color: #71c3f6;
            }
        }
    }
}